@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    color:  #fff;
    font-weight: 400;
}

.canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.header {
    position: absolute;
    max-width: 19.219vw;
    background: #000;
    padding: 2.315vh 2.083vw;
    text-align: center;
    border: 3px solid;
    border-image: linear-gradient(180deg, #fc0 0%, #F25322 50%, #EF4511 100%);
    border-image-slice: 1;
    border-top: none;
    top: 0;
    left: 5.938vw;
    img {
        width: 100%;
    }
    &__text{
        font-weight: 700;
        font-size: 2.315vh;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 1600px) {
            font-size: 2vh;
        }
    }

    &__link{
        margin-top: 3.796vh;
        font-weight: 700;
        font-size: 2.222vh;
        text-transform: uppercase;
        width: 12.656vw;
        height: 7.222vh;
        background: linear-gradient(180deg, #fc0 0%, #F25322 50%, #EF4511 100%);
        cursor: pointer;
        @media (max-width: 1600px) {
            font-size: 1.5vh;
        }
    }
}

.about-tank{
    position: absolute;
    top: 15.833vh;
    right: 9.896vw;
    padding: 2.778vh 1.563vw;
    background: rgba(0, 0, 0, 0.65);
    width: 23.021vw;
    border: 3px solid;
    border-image: linear-gradient(180deg, #fc0 0%, #F25322 50%, #EF4511 100%);
    border-image-slice: 1;

    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.796vh;
        @media (max-width: 1600px) {
            font-size: 2.7vh;
        }
    }
    &__images{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        font-size: 1.4vh;
        gap: 20px;
    }
    &__image{
        text-align: center;

        p{
            margin-top: 5px;
        }
    }
    &__table{
        width: 100%;
        margin-top: 2.037vh;
        border-collapse: collapse;

        tr{
            border-bottom: 1px dashed #4B4B4B;
        }

        td{
            padding: 0.370vh 0;
            color:   #d7d2b8;
        }
        @media (max-width: 1600px) {
            font-size: 1.2vh;
        }
    }
}

.steps{
    display: flex;
    position: absolute;
    bottom: 9.259vh;
    gap: 3.177vw;
    min-width: 77.083vw;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 1;
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 20.885vw;
        background: rgba(0, 0, 0, 0.65);
        padding: 2.500vh 1.406vw 5.093vh;       

        border-radius: 6px;
        border-top: 4px solid #FFC000;
        border-bottom: 4px solid #EF4511;
        background-image: linear-gradient(to top, #EF4511, #FFC000), linear-gradient(to top, #EF4511, #FFC000);
        background-repeat: no-repeat;
        background-size: 4px 100%;
        background-position: 100% 0, 0 0;
    }

    &__header{
        display: flex;
        justify-content: space-between;

    }

    &__title{
        font-weight: 700;
        font-size: 2.315vh;
        text-transform: uppercase;
        max-width: 15.521vw;
        @media (max-width: 1600px) {
            font-size: 1.5vh;
        }
    }

    &__number{
        font-weight: 700;
        font-size: 5.648vh;
        text-transform: uppercase;
        position: absolute;
        top: 0.741vh;
        right: 0.625vw;
        @media (max-width: 1600px) {
            font-size: 4.5vh;
        }
    }

    &__descr{
        margin-top: 1.481vh;
        font-weight: 400;
        font-size: 1.481vh;
        color: #d7d2b8;
        @media (max-width: 1600px) {
            font-size: 1.3vh;
        }
    }
}

.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.759vh;
    text-align: center;
    p{
        opacity: 0.6;
    }
}